@tailwind base;
@tailwind components;
@tailwind utilities;



.swiper-pagination-bullet-active {

    background-color: #05BC61 !important;
    width: 20px !important;
    border-radius: 10px !important;
}

#sidebar a.active {
    color: white;
    background-color: #05BC61;
}