@tailwind base;
@tailwind components;
@tailwind utilities;



.swiper-pagination-bullet-active {

    background-color: #05BC61 !important;
    width: 20px !important;
    border-radius: 10px !important;
}

#sidebar a.active {
    color: white;
    background-color: #05BC61;
}

.resizeable-box {
    position: absolute;
    bottom: 0;
    left: 27%;

    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
    resize: none;
    overflow: hidden;

}

.resizeable-box::before {
    content: '';
    position: absolute;
    top: 0;
    inset: 0;
    margin: 0 auto;
    background: grey;
    width: 70px;
    aspect-ratio: 5.1;
    border-radius: 30px;
}

.resizer {
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    height: 10px;
    background: white;
    cursor: row-resize;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
    display: none;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicator {
    width: 150px;
    height: 150px;
}